body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.header {
    background-color: #343a40;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.header a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.header a:hover {
    background-color: #495057;
}

.user, .favoritePlace {
    max-width: 800px; 
    margin: 20px auto; 
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.name{
    text-align: center;
    color:#00ff7f;
    text-decoration: none;
}

.name:hover{
    color:#32cd32;
    text-decoration: underline;
}

.favoritePlace h4 {
    margin-bottom: 15px; 
}

.favoritePoint {
    color: #007bff; 
    text-decoration: none; 
}

.favoritePoint:hover {
    text-decoration: underline;
}

.more {
    color: #708090;
    text-decoration: none;
    display: block;
    text-align: center;
}

.more:hover {
    color: #191970;
}


/* ルートセクションのスタイル */
.route {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.route h4, .post h4, .favoritePlace h4 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #333;
}

.routename {
    color: #007bff; 
    text-decoration: none; 
    font-size: 1.1em;
}

.routename:hover {
    text-decoration: underline;
    color: #0056b3;
}


.post {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    color: #007bff; 
    text-decoration: none; 
}

.title:hover {
    color: #00008b; 
}

.place {
    color: #6c757d; 
    margin: 5px 0; 
}

.image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.postsPaginate {
    text-align: center;
    margin: 20px 0;
}
